@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 50vh;
    background-color: #129799;
    padding: 20px;

}

.menu1 {
    text-align: center;
    background-color: #129799;
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none;
    color: white;
    padding: 50px;
    cursor: pointer;
    transition: 1s;
}
a:hover{
    color: blue;
}
h1 {
    color: white;
    display: flex;
    align-items: center;

}
.menu {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menutext {
width: 30%;
}
.menuimg {
    width: 39vw;
    position: relative;
    right: 50px;
    bottom: 12px;
}
.menu2 {
    text-align: center;
    bottom: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
main {
    background-color: #FFA185;
    padding: 100px;
}
.imagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.boxcursor {
    position: relative;
}
.cursor {
    width: 1vw;
    position: absolute;
    bottom: 0px;
    left: 32vw;
    
  }
figure {
    margin-top: 3vh;
}
.text {
    font-size: 20px;
    width: 100%;
}
h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: #129799;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.imgfooter {
width:40vw;
height:100px;
margin-bottom: 80px;
display: flex;
justify-content: space-evenly;
align-items: end;
padding: 10px;
}
